// Specific CSS for your home-page
.container-landing-1{
  width: 48%;
  //padding-left: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px 0 100px;
}

.container-landing-1:last-child{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  flex-direction: column;
  width: 48%;
  padding: 0;
}

.container-landing-3 {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-landing-2:first-child {
  width: 48%;
  //padding-left: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.container-landing-2:last-child{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  flex-direction: column;
  width: 48%;
  padding: 0;
}


.container-landing-3:last-child {
  flex-direction: column;
  text-align: center;
}

.img-about{
  width: 300px;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  margin-bottom: -50px;
}

.banner-1{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.container-landing-1 h1, .container-landing-2 h1 {
  font-size: 3.5em;
  margin-bottom: 35px;
}

.container-landing-1 p, .container-landing-2 p {
  font-size: 1.7em;
  margin-bottom: 35px;
}

.container-landing-1 a, .container-landing-2 a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container-info{
  margin-right: 100px;
}

.container-info-2 {
  text-align: end;
  margin-left: 100px;
}

.container-info-img{
  margin-left: 100px;
  text-align: end;
}

.container-info-img-2{
  margin-left: 100px;
  text-align: start;
}


.img-delivery{
  width: 90%;
  height: 100%;
}

.banner p.paragraph-info{
  color: rgb(92, 92, 92);
  text-shadow: none;
}

.banner-info-2 {
  background-color: rgb(240, 240, 240);
}

.container-features {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0;
}

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0;
}

.cards-container {
  width: 1250px !important;
  height: 50vh;
}

.card-c {
  height: 35vh;
  width: 100%;
  padding: 20px;
}

.card-c span {
  font-size: 1.5em;
  margin-top: 30px;
}

.features h2{
  font-size: 3.5em;
  margin-bottom: 15px;
}

.features p.paragraph-info {
  color: rgb(92, 92, 92);
  text-shadow: none;
  margin-bottom: 150px;
}

@media (max-width: 1370px) {
  .container-landing-1 h1, .container-landing-2 h1 {
    font-size: 3.0em;
    margin-bottom: 25px;
  }

  .container-landing-1 p, .container-landing-2 p {
    font-size: 1.2em;
    margin-bottom: 25px;
  }

  .container-landing-1:last-child{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 77vh;
    flex-direction: column;
    width: 45%;
    padding: 10px 0 0 0;
  }

  .features {
    height: 80vh;
    padding: 0;
  }

  .cards-container {
    width: 900px !important;
    height: 40vh;
  }

  .card-c span {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .features h2{
    font-size: 3em;
    margin-bottom: 15px;
  }

  .features p.paragraph-info {
    color: rgb(92, 92, 92);
    text-shadow: none;
    margin-bottom: 100px;
  }

}

// CSS Juan sebastián

.service-card {
  transition: 0.5s ease;
}

.service-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.service-card:hover .card{
  background: linear-gradient(to bottom, #ffffff 25%, #c2ffa4 100%);
}

.service-number {
  display: block;
  width: 35px;
  height: 35px;
  background-color: rgb(72, 197, 0);
  color: rgb(0, 0, 0);
  position: relative;
  top: 1.65rem;
  left: -1.25rem;
  z-index: 1;
  box-shadow: 1px -1px 10px rgba(0,0,0,0.3);
  border-radius: 5px;

  p {
    text-align: center;
  }
}
