.new-container {
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://img.freepik.com/vector-gratis/fondo-verde-gradiente_23-2148370791.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  padding-top: 66px;
}

.package-tab {
  border-left: solid 1px rgb(221, 221, 221);
  height:430x;
  text-align: center;

  .btn {
    margin-top: 1rem;
  }
}
