<div class="password-container">
  <div class="forgot-your-password-container">
    <div class="forgot-your-password">
        <h2>Olvidaste tu <span>contraseña?</span></h2>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email,
                label: "Correo electrónico",
                required: true,
                autofocus: true, class: "form-control string required",
                input_html: { autocomplete: "email" } %>
            </div>
            <div class="form-actions form-actions-2">
              <%= f.button :submit, "Enviar correo", class: "btn btn-warning btn-reset" %>
            </div>
          <% end %>
      </div>
    </div>
</div>
