<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://img.freepik.com/vector-gratis/fondo-verde-gradiente_23-2148370791.jpg);">
  <div class="container container-first">
    <h1>Tu lo pides, <strong>Nosotros lo llevamos!</strong></h1>
    <p>Creamos un sistema r치pido de entrega, donde con unos solos clicks podras enviar tu producto de una forma sencilla.</p>
    <a class="btn btn-success" href="#">Empezar</a>
  </div>
  <div class="container container-first">
    <%= image_tag "delivery.png", class: "img-delivery" %>
  </div>
</div>

<div class="banner banner-info" >
  <div class="container container-first container-info-img">
    <%= image_tag "delivery-2.png", class: "img-delivery" %>
  </div>
  <div class="container container-first container-info">
    <h2>Entrega Fast</strong></h2>
    <p class="paragraph-info">Garantiza una entrega inmediata. Te conectamos con el piloto m치s cercano para llevar tus productos tan r치pido como tus clientes lo necesitan.</p>
  </div>
</div>

<div class="banner banner-info" >
  <div class="container container-first container-info">
    <h2>Entrega Pesada</strong></h2>
    <p class="paragraph-info">Envia carga pesada de una forma rapida y sencilla, Te conectamos con conductores con carros o camionetas para llevar tus productos tan r치pido como tus clientes lo necesitan.</p>
  </div>
  <div class="container container-first container-info-img">
    <%= image_tag "delivery-3.png", class: "img-delivery" %>
  </div>

</div>
