<div class="profile-container">
  <div class="profile-shipping"></div>
    <div class="profile-card">
      <img class="avatar-large" alt="avatar-large" src=""/>
      <h2>Nombre usuario</h2>
      <p>Email</p>
      <p>Ciudad <span>Pais</span></p>
      <a class="btn_edit_profile" href="#">Editar perfil</a>
    </div>

    <div class="shipping card">
      <!-- Unir con el dashboard de Juanse, a la derecha -->
    </div>
  </div>
</div>
