<div class="profile-container">
  <div class="profile-shipping">
    <div class="profile-card">
      <%= image_tag "profile-avatar.png", class: "avatar-large" %>
      <h2>Nombre <strong>Usuario</strong></h2>
      <h3>Balance</h3>
      <p><span>$ 20.000</span> COP </p>

    </div>

    <div class="shipping-card">
      <h2><strong>Envios</strong></h2>
      <!-- Unir con el dashboard de Juanse, a la derecha -->
    </div>
  </div>
</div>
