<div class="profile-container">
  <div class="profile-shipping">
    <div class="profile-card">
      <%= image_tag "profile-avatar.png", class: "avatar-large" %>
      <h2>Nombre <strong>Usuario</strong></h2>
      <p>Email</p>
      <p>Ciudad, <span>Pais</span></p>
      <a class="btn_edit_profile" href="#">Editar perfil</a>
    </div>

    <div class="shipping-card">
      <h2><strong>Envios</strong></h2>
      <!-- Unir con el dashboard de Juanse, a la derecha -->
    </div>
  </div>
</div>
