<div class="tracking-container">
  <div class="tracking-container-a">
    <div class="buscar">
      <h2> Rastrea tu <span> Pedido </span> </h2>

      <p>Por favor ingresa el código de tu guía</p>
      <a href="/tracking" class="search">Buscar</a>
    </div>

    <%= image_tag "tracking.jpg", class: "tracking-image" %>
  </div>
</div>
<!-- <%= link_to "Empezar", new_user_session_path, class: "btn btn-warning btn-call" %> -->
