

.body-vehicle{
  background-color: #3c3c3c;
}
.vehicle-container{
  width: 80%;
  height: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  gap: 50px;

}
.vehicle-img{
  width: 100%;
  height: auto;
}
.register-container{
  width: 100%;
  height: auto;
  background-color: #e9e9e9;
  border-radius: 15px;

  animation: container ease-in 1 2s;

}

@keyframes container{
	0%{ transform: translatey(200%);
	}
	100%{ transform: translatey(0%);}

}

.register-container .yellow-btn{
  padding: 10px 15px;
  border-radius: 20px;
  background-color: $yellow;
  width:100%;
  transition: .5s;
  border: 1px solid #fece6f;
  font-size: 20px;
  color: #36b86e;
  font-weight: 600;

}
.register-container .yellow-btn:hover{
  background-color: #36b86e;
  border: 1px solid #36b86e;
  color: #fece6f;
}
.register-container h2{
  color: #000000;
}
.register-container .letter-title{
  color: #ebbf63;
  font-family: 700;
}
.vehicle-img .pic-delivery{
  width: 80%;
  display:grid;
  margin: auto;
  animation: motion ease-in 1 1s;

}

@keyframes motion{
	0%{ transform: translatex(-200%);
	}
	100%{ transform: translatex(0%);}

}
