.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-gray {
  background: #3B3939;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  transform: scale(4);
  margin-left: 100px;
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  -o-transform: scale(4);
  margin-top: 8px;
}

.dropdown img {
  object-fit: cover;
}

.btn-nav, .links-nav {
  margin-right: 20px;
}

.links-nav a {
  color: white;
}

.links-nav a:hover, .text-white:hover {
  color: #FECE6B !important;
}

.btn-login-sign-up {
  background-color: #FECE6B;
}

.btn-login-sign-up:hover{
  opacity: 1;
  box-shadow: none;
  background-color: red;
}

.btn-warning {
  background-color: #FECE6B;
  border: none;
}

.btn-warning:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  background-color: #FECE6B !important;
}
